@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

* {
  box-sizing: border-box;

  transition-property: color, background, background-color, box-shadow;
  transition-duration: .1s;
}

body {
  font: 16px/1.4 'Source Sans Pro', Tahoma, Helvetica, Arial, sans-serif;
  color: #333;
}
